# Exclude git and editor files
.git
.vscode
.idea

# Node modules and builds
node_modules/
**/node_modules/
.next/
dist/
build/
out/

# OS and archive files
*.log
*.tgz
*.tar.gz
*.zip
.DS_Store

# local SDK or tools
google-cloud-sdk/
